packaging_format = 2

id = "yourls"
name = "Yourls"
description.en = "URL shortening service"
description.fr = "Service de raccourcisseur d'URL"

version = "1.9.2~ynh4"

maintainers = [""]

[upstream]
license = "MIT"
website = "https://yourls.org/"
demo = "https://yourls.org/cookie+"
admindoc = "https://docs.yourls.org/"
code = "https://github.com/YOURLS/YOURLS"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/yourls"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr_FR", "en_US"]
    default = "fr_FR"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/YOURLS/YOURLS/archive/refs/tags/1.9.2.tar.gz"
        sha256 = "62a95ba766d62f3305d75944cbfe12d5a90c08c88fbf2f6e67150d36412b916f"
        autoupdate.strategy = "latest_github_release"

        [resources.sources.fr]
        url = "https://github.com/ozh/YOURLS-fr_FR/archive/refs/tags/1.8.tar.gz"
        sha256 = "bfe5c62f6d71bddb4af58618d954738f7bcaea549e9198d900fb615d1a472a12"
        autoupdate.strategy = "latest_github_release"
        autoupdate.upstream = "https://github.com/ozh/YOURLS-fr_FR/"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    admin.url = "/admin"
    admin.show_tile = false
    admin.allowed = "admins"

    [resources.apt]
    packages = "mariadb-server, php8.1-gmp, php8.1-bcmath, php8.1-curl, php8.1-mysql, php8.1-zip, php8.1-gd, php8.1-mbstring, php8.1-xml"

    [resources.database]
    type = "mysql"
